<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD A FURNITURE</title>
</head>
<body>
<header>
    <h1>la Fête du meuble !!</h1>
</header>
<main>
    <h2>Ajouter un produit</h2>
    <form th:action="@{/addfurniture}" th:object="${furniture}" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name">
            <span th:if="${#fields.hasErrors()}" th:errors="*{name}"></span>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" th:field="*{description}" id="description">
            <span th:if="${#fields.hasErrors()}" th:errors="*{description}"></span>

        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" th:field="*{price}" id="price">
            <span th:if="${#fields.hasErrors()}" th:errors="*{price}"></span>

        </div>
        <div>
            <label for="stock">Quantité</label>
            <input type="text" th:field="*{stock}" id="stock">
            <span th:if="${#fields.hasErrors()}" th:errors="*{stock}"></span>

        </div>
        <button type="submit">Ajouter</button>
    </form>
</main>

</body>
</html>