<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Cart item</title>
</head>
<body>
<header>
    <h1>la Fête du meuble !!</h1>
</header>
<main>
    <h2>Votre panier</h2>

    <table  th:if="${!cartItems.isEmpty()}">
        <thead>
        <tr>
            <th >#</th>
            <th >Produit</th>
            <th >Quantité</th>

            <th ></th>
<!--            <th ></th>-->
<!--            <th ></th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${cartItems}">
            <td  th:text="${c.getId()}"></td>
            <td  th:text="${c.getFurniture()}"></td>
            <td  th:text="${c.getQuantity()}"></td>

            <td ><button type="button" ><a th:href="@{/removecart/{id}(id=${c.getId()})}" >Supprimer</a></button></td>

        </tr>
        </tbody>
    </table>
    <p th:unless="${!cartItems.isEmpty()}">Votre panier est vide !!</p>
    <span ><button type="button" ><a th:href="@{/clearcart}" >Vider le panier</a></button></span>
    <span ><button type="button" ><a th:href="@{/}" >Retour à ma liste de produits</a></button></span>

</main>

</body>
</html>