<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>homepage</title>
</head>
<body>
<header>
    <h1>la Fête du meuble !!</h1>
</header>
<main>
    <h2>liste de vos produits favoris</h2>
    <table  th:if="${!furnitures.isEmpty()}">
        <thead>
        <tr>
            <th >#</th>
            <th >Nom</th>
            <th >Description</th>
            <th >Prix</th>
            <th >Stock</th>
            <th ></th>
            <th ></th>
            <th ></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="f : ${furnitures}">
            <td  th:text="${f.getId()}"></td>
            <td  th:text="${f.getName()}"></td>
            <td  th:text="${f.getDescription()}"></td>
            <td  th:text="${f.getPrice()}"></td>
            <td  th:text="${f.getStock()}"></td>
            <td ><button type="button" ><a th:href="@{/addcart/{id}(id=${f.getId()})}" >Ajouter au panier</a></button></td>
            <td ><button type="button" ><a th:href="@{/updatefurniture/{id}(id=${f.getId()})}" >Modifier</a></button></td>
            <td ><button type="button" ><a th:href="@{deleteFurniture/{id}(id=${f.getId()})}" >Supprimer</a></button></td>
        </tr>
        </tbody>
    </table>
    <p th:unless="${!furnitures.isEmpty()}">vous n'avez ajouté aucun meuble !!</p>
    <span ><button type="button" ><a th:href="@{/addfurniture}" >Ajouter un meuble</a></button></span>

</main>
</body>
</html>